aiohttp
fastapi
loguru
pydantic
pyvts
setuptools
uvicorn
ruff
requests
websockets
python-logging-loki
typer
aiohttp
mss
numpy
openai
Pillow
pyvts
obsws-python
pygame  # Optional: For more reliable audio playback in TTS plugin
pywin32  # For Windows-specific OpenGL context creation
tomli
maim-message
customtkinter
fastmcp
json-repair